* {
    margin: 0px;
}
h1{
	font-family: sans-serif;
    letter-spacing: 0.03rem;
	color: #454138;
}
h2{
	font-family: sans-serif;
    letter-spacing: 0.03rem;
	color: #454138;
}
h3{
	font-family: sans-serif;
    letter-spacing: 0.03rem;	
	font-weight:lighter;
	color: #454138;
	border: solid #454138;
	border-width: 0.1rem 0;
	padding: 0.1rem 1rem;
}

body {
    background-color: #dcd8c0;
 
   
}

#contenido {
    background-color:  #dcd8c0;
}

a {
	 text-decoration: none;
   	font-family: helvetica;
    letter-spacing: 0.03rem;
    font-weight: lighter;
    color: #bab5a1;
}

a:hover {
    font-weight: 700;
}

p {
    font-family: helvetica;
    letter-spacing: 0.03rem;
    font-weight: lighter;
    color: #454138;
}

header, footer {
    align-items: center;
    background-color: #bab5a1;
    display: flex;
    margin: auto;
}

header img {
    width: 10%;
}

#header-text, #footer-text {
    display: inline;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav {
    background-color: #454138;
}

nav ul li {
    color: #FFFFFF;
    display: inline;
    font-weight: 300;
    padding: 10px;
}

#main {
    display: flex;
}

main {
    width: 70%;
}

section {
    margin: 10px;
}

aside {
    margin: 10px;
    width: 30%;
}

